{{ block "index" .}}
<!doctype html>
<html lang="en">
  <head>
    <title>Exploration - Htmx</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/index.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  </head>
  <body>
    {{ template "form" .Form }}
    <hr />
    {{ template "display" .Data }}
  </body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.body.addEventListener("htmx:beforeSwap", function(event) {
      if (event.detail.xhr.status === 422) {
        event.detail.shouldSwap = true;
        event.detail.isError = false;
      }
    });
  });
</script>
</html>
{{ end }} 

{{ define "label" }}
<label for="" class="block text-sm font-medium leading-6 text-gray-900">{{ . }}</label>
{{ end }}

{{ define "form" }}
<form id="form" hx-swap="outerHTML" hx-post="/contacts" >
  <div style="display: flex; flex-direction=column;">
    {{ template "label" "Name" }}
    <input type="text" name="name" 
      {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
    /> 
    <label>email:</label> 
    <input type="email" name="email" 
      {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
    />

    {{ if .Errors.name }}
    <div style="color: red;">{{ .Errors.name }}</div>
    {{ end}}

    {{ if .Errors.email }}
    <div style="color: red;">{{ .Errors.email }}</div>
    {{ end}}

    <button type="submit">Create Contact</button>
  </div>
</form>
{{ end }} 

{{ define "display" }}
<div id="contacts" style="display: flex; flex-direction: column;">
    {{ range .Contacts }}
      {{ template "contact" .}}
    {{ end}}
</div>
{{ end }}

{{ define "contact" }}
<div id="contact-{{ .Id }}" class="contact flex flex-row">
  <button 
    hx-indicator="#ci-{{ .Id }}"
    hx-target="#contact-{{ .Id }}"
    hx-swap="outerHTML swap:500ms"
    hx-delete="/contacts/{{ .Id }}">Delete</button>

  Name: <span>{{ .Name }}</span> 
  Email: <span>{{ .Email }}</span>

  <div id="ci-{{ .Id }}" class="htmx-indicator">
    <img src="/images/bars.svg" alt="loading" style="width: 1rem" >
  </div>
</div>
{{ end}}

{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
  {{ template "contact" . }}
</div>
{{ end}}
